<div>
    <img id="logo" src="{{ asset('img/logo.svg') }}" alt="Bucket-List">
    <a href="{{ path('main_home') }}">Accueil</a>
    <a href="{{ path('main_about') }}">About Us</a>
    <a href="{{ path('wish_list') }}">List</a>
    <a href="{{ path('wish_add') }}">Ajouter</a>


</div>