<div>
    <img id="logo" src="{{ asset('img/logo.svg') }}" alt="Bucket-List">
    <a href="{{ path('main_home') }}">Home</a>
    <a href="{{ path('main_about') }}">About Us</a>
    <a href="{{ path('wish_list') }}">List</a>

    {% if app.user %}
    <a href="{{ path("app_logout") }}">Log out</a>

    <a href="{{ path('wish_add') }}">Add</a>

{% else %}
    <a href="{{ path("app_login") }}">Login</a>
    <a href="{{ path("app_register") }}">Register</a>

    {% endif %}


</div>